<div class="container">
  <form>
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto mt-5">
          <div class="card">
            <div class="card-header text-center">
              COURSE GRADING
            </div>
            <div class="card-body">
              <h1><label class="col-form-label">{{course.name}}</label></h1>
              <div *ngFor="let student of students">
              <div class="form-group row">
                  <label class="col-sm-3 col-form-label">{{student.studentId}}</label>
                  <div class="col-sm-9">
                    <div class="input-group mb-3">
                      <label class="form-control ">{{student.name}}&nbsp;{{student.surname}}</label>
                      <select class="form-control col-sm-3 " id="select1"
                              (change)="onClickGrade01($event)" (change)="gradeChanged($event,student.enrolledCourse.indexOf(course.courseId),student)"
                              value="{{student.grade[student.enrolledCourse.indexOf(course.courseId)]}}">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="F">F</option>
                      </select>
                    </div>
                  </div>
              </div>
              </div>
            </div>
            <div class="card-body">
              <h1><label class="col-form-label">Summary</label></h1>
              <div class="container">
                <div class="row">
                  <div class="col-sm-1">
                    <label class="col-form-label">A: </label>
                  </div>
                  <div class="col-sm-2">
                    <div class="input-group mb-3">
                      <label class="form-control">{{gradeA}}</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-1">
                    <label class="col-form-label">B: </label>
                  </div>
                  <div class="col-sm-2">
                    <div class="input-group mb-3">
                      <label class="form-control">{{gradeB}}</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-1">
                    <label class="col-form-label">C: </label>
                  </div>
                  <div class="col-sm-2">
                    <div class="input-group mb-3">
                      <label class="form-control">{{gradeC}}</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-1">
                    <label class="col-form-label">D: </label>
                  </div>
                  <div class="col-sm-2">
                    <div class="input-group mb-3">
                      <label class="form-control">{{gradeD}}</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-1">
                    <label class="col-form-label">F: </label>
                  </div>
                  <div class="col-sm-2">
                    <div class="input-group mb-3">
                      <label class="form-control">{{gradeF}}</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <label class="col-form-label">GPA of the course: </label>
                  </div>
                  <div class="col-sm-2">
                    <div class="input-group mb-3">
                      <label class="form-control" id="gpaOfCourse">{{gpaOfCourse}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer text-center">
              <input type="submit" name="submit" class="btn btn-success" value="Submit">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
