<div class="container">
  <form>
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto mt-5">
          <div class="card">
            <div class="card-header text-center">
              COURSE GRADING
            </div>
            <div class="card-body">
              <h1><label class="col-form-label">Mathematics</label></h1>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">582115000</label>
                <div class="col-sm-9">
                  <div class="input-group mb-3">
                    <label class="form-control ">Domenic Torresto</label>
                    <select class="form-control col-sm-3 ">
                      <option selected>Grade</option>
                      <option>A</option>
                      <option>B</option>
                      <option>C</option>
                      <option>D</option>
                      <option>F</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">582115001</label>
                <div class="col-sm-9">
                  <div class="input-group mb-3">
                    <label class="form-control">Johny English</label>
                    <select class="form-control col-sm-3 ">
                      <option selected>Grade</option>
                      <option>A</option>
                      <option>B</option>
                      <option>C</option>
                      <option>D</option>
                      <option>F</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">582115002</label>
                <div class="col-sm-9">
                  <div class="input-group mb-3">
                    <label class="form-control">Nekky cossbender</label>
                    <select class="form-control col-sm-3 ">
                      <option selected>Grade</option>
                      <option>A</option>
                      <option>B</option>
                      <option>C</option>
                      <option>D</option>
                      <option>F</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h1><label class="col-form-label">Summary</label></h1>
              <div class="container">
                <div class="row">
                  <div class="col-sm-1">
                    <label class="col-form-label">A: </label>
                  </div>
                  <div class="col-sm-2">
                    <div class="input-group mb-3">
                      <label class="form-control">0</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-1">
                    <label class="col-form-label">B: </label>
                  </div>
                  <div class="col-sm-2">
                    <div class="input-group mb-3">
                      <label class="form-control">0</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-1">
                    <label class="col-form-label">C: </label>
                  </div>
                  <div class="col-sm-2">
                    <div class="input-group mb-3">
                      <label class="form-control">0</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-1">
                    <label class="col-form-label">D: </label>
                  </div>
                  <div class="col-sm-2">
                    <div class="input-group mb-3">
                      <label class="form-control">0</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-1">
                    <label class="col-form-label">F: </label>
                  </div>
                  <div class="col-sm-2">
                    <div class="input-group mb-3">
                      <label class="form-control">0</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <label class="col-form-label">GPA of the course: </label>
                  </div>
                  <div class="col-sm-2">
                    <div class="input-group mb-3">
                      <label class="form-control">0</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer text-center">
              <input type="submit" name="submit" class="btn btn-success" value="Submit">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
