<div class="container">
  <form>
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto mt-5">
          <div class="card">
            <div class="card-header text-center">
              VIEW COURSE
            </div>
            <div class="card-body">
              <div class="form-group row">
                <label id="courseName" class="col-sm-3">Course Name :</label>
                <div class="col-sm-9">
                  <label >Mathematics</label>
                </div>
              </div>
              <div class="form-group row">
                <label id="courseID" class="col-sm-3">Course ID :</label>
                <div class="col-sm-9">
                  <label >021251</label>
                </div>
              </div>
              <div class="form-group row">
                <label id="maximumStudents" class="col-sm-3 ">Max. Students :</label>
                <div class="col-sm-9">
                  <label>30</label>
                </div>
              </div>
              <div class="form-group row">
                <label id="credit" class="col-sm-3 ">Credit :</label>
                <div class="col-sm-9">
                  <label >3</label>
                </div>
              </div>
              <div class="form-group row">
                <label id="teacher" class="col-sm-3 ">Teacher :</label>
                <div class="col-sm-9">
                  <div class="input-group mb-3">
                    <label>Dr. Prompong</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!--<div *ngFor="let course of courses">-->
    <!--{{course.courseId}} {{course.name}}-->
    <!--<div *ngFor="let teacher of teachers">-->
      <!--<div *ngFor="let courseIn of course.teaching_course">-->
        <!--<div *ngIf="courseIn == teacher.teacherId">-->
          <!--{{teacher.teacherId}} {{teacher.name}}-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

</div>
