<div class="container">
  <form>
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto mt-5">
          <div class="card">
            <div class="card-header text-center">
              VIEW COURSE
            </div>
            <div class="card-body">
              <div class="form-group row">
                <label id="courseName" class="col-sm-3 col-form-label">Course Name :</label>
                <div class="col-sm-9">
                  <label >Maththemetic</label>
                </div>
              </div>
              <div class="form-group row">
                <label id="courseID" class="col-sm-3 col-form-label">Course ID :</label>
                <div class="col-sm-9">
                  <label >0001</label>
                </div>
              </div>
              <div class="form-group row">
                <label id="maximumStudents" class="col-sm-3 col-form-label">Max. Students :</label>
                <div class="col-sm-9">
                  <label>120</label>
                </div>
              </div>
              <div class="form-group row">
                <label id="credit" class="col-sm-3 col-form-label">Credit :</label>
                <div class="col-sm-9">
                  <label >3</label>
                </div>
              </div>
              <div class="form-group row">
                <label id="teacher" class="col-sm-3 col-form-label">Teacher :</label>
                <div class="col-sm-9">
                  <div class="input-group mb-3">
                    <label >ABE</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
