<div class="container">
  <form>
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto mt-5">
          <div class="card">
            <div class="card-header text-center">
              COURSE LIST
            </div>
            <div class="card-body">
              <div *ngFor="let course of courses">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">{{course.courseId}}</label>
                <div class="col-sm-9">
                  <div class="input-group mb-3">
                    <label class="form-control">{{course.name}}</label>
                    <div class="input-group-append">
                      <button class="btn btn-outline-primary" type="button" (click)="showDetail(course.courseId)">View</button>
                    </div>
                    <div *ngIf="dataService.userType == 'student'" class="input-group-append">
                      <button class="btn btn-outline-success" type="button" (click)="enrollCourse(course)">Enroll</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
